/* Font - part start #--  */
.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
/* Font - part finish #--  */


                        /* --#  - part start #--  */

                        /* --#  - part finish #--  */



/* --# Share class - part start #--  */
.btn-primary-gree{
    width: 270px;
    height: 56px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #006A50;
    color: white;
}
.black-01{
  color: #0E0E0E;
}
.light-black-02{
  color: #0E0E0E;
  opacity: 50%;
}

/* --# Share class - part finished #--  */
body{
  background-color: #F5F5F5;
}
main{ 
  margin: 80px 160px;
}

/* --# Header - part start #--  */
  /* --# nav - part start #--  */
.nav-title{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 32px;
}
.sing-in-btn{
    width: 116px;
    height: 52px;
    font-weight: 600;
    font-size: 18px;
    border: 1px #006A50 solid;
    border-radius: 8px;
    background-color: white;
    color: #006A50;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 24px 160px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
}
  /* --# nav - part finish #--  */
  
          /* width: 116px;
          height: 52px;
          font-weight: 600;
          font-size: 18px; */
          /* font-family: skip
          font-weight: skip
          font-style: skip */
       
.banner-main{
  display: flex;
  justify-content: space-between;
  margin: 20px 160px;
  padding: 117px 59.99px;
  background-color: #C6E4D6;
  border-radius: 24px;
}
.banner-content{
  width: 622px;
  height: 326px;
}
.banner-greetings{
  font-size: 24px;

}
.banner-title{
  font-size: 56px;

}
.banner-dp{
  width: 474.03px;
  height: 400px;

}
/* --# Header - part finish #--  */

.pillars{
  height: 324px;
  width: 1280px;
}
.pillars-main-title{
  font-size: 40px;
}
.pillars-main{
  display: flex;
  justify-content: space-evenly;
}
.pillars-content{
  width: 302px;
  height: 244;
  padding: 24px;
  background-color: #FFFFFF;
  border: 1px #0e0e0e15 solid;
  border-radius: 16px;
}
.card-img-style{
  height: 64px;
  width: 64;
}
.pillars-item-title{
  font-size: 20px;
  opacity: 80%;
}
.pillars-item-discription{
  font-size: 16px;
  opacity: 70%;
}